*{
    margin: 0;
    padding: 0;
}
.grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr 80% 1fr;
    height: 100vh;
    grid-template-areas: 
    "nav"
    "filter"
    "main"
    "footer";
}
nav{
    background-color: rgb(165, 203, 191);
    padding: 20px;
    grid-area: nav;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
h3{
    color: #fcf9f3;
    font-family: moon dance;
    font-weight:bolder;
    font-size: 28px;
}
section{
    display: grid;
    align-content: center;
    background-color: darkgrey;
    padding: 15px 25px;
    grid-area: filter;
}
select{
    border-radius: 3px;
    height: 25px;
    border: none;
}
select:focus{ 
    outline: none;
}
h4{
    text-align: center;
    margin-bottom: 4px;
}
main{
    grid-area: main;
    background-color:rgba(245, 245, 245, 0.919);
    overflow-y: scroll;
}
.products-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    justify-items: center;  
    margin: 20px;
    min-height: 75vh;
}
.products-container .card{
    display: flex;
    height: auto;
    width: 380px;
    align-items: center; 
    flex-direction:column;
    background-color: rgb(248, 246, 246);
    border: 1px solid rgb(220, 218, 218);
    box-shadow: 4px 6px 7px rgb(211, 208, 208);
}
.card img{
    width: 380px;
    height: 428px;
    transition: transform 0.1s;
}
.card img:hover{
    transform: scale(1.02);
}
.card .buy{
    background-color: rgb(183, 198, 197);
    min-width: 100%;
    text-align: center;
}
button{
    width: 100%;
    background-color: rgb(143, 173, 165);
    /*background-color:rgb(153, 176, 176);*/
    /*background-color: rgb(183, 198, 197);*/
    height: 34px;
    border: none;
}
button:hover{
    /*background-color: rgb(238, 228, 214);*/
    background-color:#bdd3c6;
}
button:focus{
    background-color: rgb(214, 209, 209);
}
footer{
    grid-area: footer;
    background-color: rgb(241, 227, 214);
    text-align: center;
    color: #1a3d47;
    font-family: maven pro;
    font-size: 16px;
    padding: 20px 0;
}

